page-list {
		ion-content {
		background-color: #fadbd8;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
	}

	.precio {
		font-size: 1em;
		color:  #0e0cb9;
	}
	div {
		
		font-size: 20px;
	}

}
