
<ion-header>

  <ion-navbar>
    <ion-title>registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
	  <ion-list> 
		    <ion-item>
		      <ion-label stacked>Nombre:</ion-label>
		      <ion-input formControlName="nombre" type="text" placeholder="nombre"></ion-input>
		    </ion-item>
		    <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
		      <p color="danger" ion-text *ngIf="myForm.get('nombre').hasError('required')">El campo es requerido</p>
		    </ion-item>

		    <ion-item>
		      <ion-label stacked>Apellido:</ion-label>
		      <ion-input formControlName="apellido" type="text" placeholder="apellido"></ion-input>
		    </ion-item>
		    <ion-item *ngIf="myForm.get('apellido').errors && myForm.get('apellido').dirty">
		      <p color="danger" ion-text *ngIf="myForm.get('apellido').hasError('required')">El campo es requerido</p>
		    </ion-item>

		    <ion-item>
		      <ion-label stacked>E-mail:</ion-label>
		      <ion-input formControlName="email" type="email" placeholder="correo"></ion-input>
		    </ion-item>
		    <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
		      <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">El campo es requerido</p>
		      <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">No es un email</p>
		    </ion-item>

		    <ion-item>
		      <ion-label stacked>Dirección:</ion-label>
		      <ion-input formControlName="email" type="text" placeholder="correo"></ion-input>
		    </ion-item>
		    <ion-item *ngIf="myForm.get('direccion').errors && myForm.get('direccion').dirty">
		    </ion-item>

		    <ion-item>
		      <ion-label stacked>Password:</ion-label>
		      <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
		    </ion-item>
		    <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
		      <p color="danger" ion-text *ngIf="myForm.get('password').hasError('required')">El campo es requerido</p>
		      <p color="danger" ion-text *ngIf="myForm.get('password').hasError('pattern')">No es un password valido</p>
		    </ion-item>
	  </ion-list>
	  
		  <div padding>
		    <button ion-button block type="submit" [disabled]="myForm.invalid">Guardar</button>
		  </div>
	</form>



</ion-content>
